.RoomTypePage__goToShowRoomTypesButton{
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-bottom: 30px;
    cursor: pointer;
}
.RoomPart__addRoomBlock{
    margin: 20px;
    min-width: 300px;
}
.RoomPart__addRoomBlock div{
    padding: 20px;
    border-radius: 6px;
    background: white;
    max-width: 600px;
}